<!DOCTYPE html>
<html>
<body>
<form method="post" path="/">
  <input type="text" placeholder="Enter new object" name="create_object">
  <button type="submit">Create</button>
</form>
<ul>
<% objects.each do |object|%>
  <li><%= object[:name] %></li>
<% end %>
</ul>
</body>
</html>